/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require lazybox
 *= require_jquery-ui
 *= require_tree .
 */

 #lazybox div.estudiante { max-width: 500px; }
 #lazybox div.curso { max-width: 500px; }
 #lazybox div.instructor { max-width: 500px; }
 #lazybox div.materia{ max-width: 500px; }
 #lazybox div.horario { max-width: 500px; height: auto;}

.lazybox {
  background: transparent !important;
}

#lazybox_close.img {
  background: url('close.png') no-repeat;
  width: 55px;
  height: 55px;
  top: -37px;
  right: -37px;
}

#lazybox.sticker {
  -webkit-border-bottom-left-radius: 20px 500px;
  -webkit-border-bottom-right-radius: 500px 30px;
  -webkit-border-top-right-radius: 5px 100px;
  -moz-border-radius-bottomleft: 20px 500px;
  -moz-border-radius-bottomright: 500px 30px;
  -moz-border-radius-topright: 5px 100px;
  border-radius-bottomleft: 20px 500px;
  border-radius-bottomright: 500px 30px;
  border-radius-topright: 5px 100px;
  border-bottom-left-radius: 20px 500px;
  border-bottom-right-radius: 500px 30px;
  border-top-right-radius: 5px 100px;
}

#lazybox.top {
  border-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}

#lazybox.player {
  background: transparent;
  border: none;
  box-shadow: none;
}


body {
  background-size: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;

}

.navbar{
  height: 10px;
}

input#bus{
  width: 150px;
}

form#bus{
  margin-left: 80px;
  margin-top: -20px;
}

li#ef{
  margin-left: 850px;
  margin-top: 10px;
  color: white;
  font-size: 20px;
}

li#efe{
  margin-left: 880px;
  margin-top: 20px;
  color: white;
  font-size: 20px;
}

div#but{
margin-top:-35px;
margin-left: 30px;
 }

div#buto{
margin-top: -20px;
margin-left: 40px;
 }

footer#foter{
  margin-top:-170px;
  margin-left: -0px; 
  width: 100%;
  height: 40px;
  background-color: black;
  border-radius: 4px; 
}

footer#foterr{
  margin-top:-170px;
  margin-left: -0px; 
  width: 100%;
  height: 40px;
  background-color: black;
  border-radius: 4px; 
}



div#tra{
  margin-left: -200px;
  margin-top: 50px;
}

p#he{
  text-align: center;
  color: gray;
}

div#nava{
  margin-left: 350px;
  margin-top: -60px;
}

img#user{
  width: 100px;
  float: right;
  padding-right: 80px;
  margin-top: -300px;
}

img#img{
  margin-top: -30px;
  margin-left: -900px;
  width: 300px;
}


div#user{
  margin-top: 80px;
  margin-left: 100px;
  width: 50%;
  background-color:white;
}

div#nu{
  margin-left: 100px;
}

div#text{
  margin-top: -300px;
  color: white;
  margin-left: 880px;
}

h1#user{
  font-size: 30px;
  margin-left: 80px;
  color: white;
}

div#bus{
  margin-top: -80px;
  margin-left: 600px;
}

a#nom{
  font-size: 20px;
}

div#pag{
  margin-top: 230px;
  margin-left: 300px;
}

div#botonc{
  margin-left: 320px;
  margin-top: -38px;
}

div#texto{
  margin-top: 50px;
  margin-left: 50px;
  color: white;
  font-size: 20px;
}

div#loggin{
  margin-top: -80px;
  margin-right: 400px;
  margin-left: 50px;
}

div#imlog{
  margin-top: -180px;
  margin-left: 780px;
}

p#con{
  color: white;
  float: right;
  padding-right: 120px;
  margin-top: -40px;
}

div#cont{
  margin-top: 100px;
  margin-left: 1200px;
}

.static{position:relative;}