 	html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	position: absolute;
}
body {
	line-height: 1;
}


body{
background-image:url(fondo.png) ;
background-size: 100% auto;

}

div#uno{
	padding-top: 4px;
	font-size: 70px;
    color: white;
    margin-left: 60px;
}


header{
	width: 90%;
	height: 100px;
	background-image: url(fondo.png);
	margin:5% 5%;
}

a {
  color: white;
  &:visited {
    color: white;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

header#pablo{
	width: 4.5%;
	height: 100px;
	background: black;
	margin-left: 3px;
	margin-top: 40.5px;
}

header#juan{
	width: 4.5%;
	height: 100px;
	background: black;
	margin: 95.3% 95.3%;
	margin-top: 40.5px;
}

header#main{
	width: 50%;
	height: 50px;
	background-image: url(fondo1.png);
	margin: 45% 45%;
	margin-top: 150px;
}

table#butto{
	height: auto;
	padding-top: 15px;
	margin-left: 130px;
position: absolute;
}

p#nom{
  margin-top: -20px;
  text-align: center;
  color: white;
}

input#nom{
  margin-left: 180px;
}

textarea#nom{
  margin-left: 180px;
}

section#cuerpo{
	width: 80%;
	height: 800px;
	background: #2A0A22;
	margin:1% ;
	top: 160px;
	
}

section#sidebar{
	width: 17.5%;
	height: 600px;
	background-image: url(fondo1.png);
	margin: 1%;
	margin-top: 60px;
	top: 160px;
	right: 81.3%;
}

div#modu{
	margin-left: 130px;
	
}

button{
	background-image: url(fondo1.png);
	color: white;
	}


div#b{
	color: white;
	margin-left: 550px;
	font-size: 50px;
}

div#tex{
	margin-right: 30px;
	color: white;
	margin-left: 490px;
	font-size: 20px;
}



footer{
	width: 70%;
	height: 30px;
	background-image: url(fondo.png);
	margin:25px 25%;
	top:810px;
}

footer p{
	color: white;
	position: relative;
	margin: auto;
	text-align: center;
	padding: 10px;
}

.box{
	-webhit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;

	-webkit-box-shadow:2px 2px 20px #eee;
	-moz-box-shadow:2px 2px 20px #eee;
	-o-box-shadow:2px 2px 20px #eee;
	box-shadow:2px 2px 20px #eee;
	
}

.lazybox {
  background: transparent !important;
}

#lazybox_close.img {
  background: url('close.png') no-repeat;
  width: 55px;
  height: 55px;
  top: -37px;
  right: -37px;
}

#lazybox.sticker {
  -webkit-border-bottom-left-radius: 20px 500px;
  -webkit-border-bottom-right-radius: 500px 30px;
  -webkit-border-top-right-radius: 5px 100px;
  -moz-border-radius-bottomleft: 20px 500px;
  -moz-border-radius-bottomright: 500px 30px;
  -moz-border-radius-topright: 5px 100px;
  border-radius-bottomleft: 20px 500px;
  border-radius-bottomright: 500px 30px;
  border-radius-topright: 5px 100px;
  border-bottom-left-radius: 20px 500px;
  border-bottom-right-radius: 500px 30px;
  border-top-right-radius: 5px 100px;
}

#lazybox.top {
  border-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}

#lazybox.player {
  background: transparent;
  border: none;
  box-shadow: none;
}


body {
  background-size: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.navbar{
  width: 100%;
  height: 10px;
}
  

input#bus{
  width: 150px;
}

form#bus{
  margin-left: 80px;
  margin-top: -20px;
}

li#ef{
  margin-left: 850px;
  margin-top: 10px;
  color: white;
  font-size: 20px;
}

li#efe{
  margin-left: 880px;
  margin-top: 20px;
  color: white;
  font-size: 20px;
}

div#but{
margin-top:-70px;
margin-left: 30px;
 }

div#buto{
margin-top: -70px;
margin-left: 40px;
 }

footer#foter{
  margin-top:-185px;
  margin-left: -0px; 
  width: 100%;
  height: 40px;
  background-color: black;
  border-radius: 4px; 
}

footer#foterr{
  margin-top:-185px;
  margin-left: -0px; 
  width: 100%;
  height: 40px;
  background-color: black;
  border-radius: 4px; 
}



div#tra{
  margin-left: -200px;
  margin-top: 50px;
}

p#he{
  text-align: center;
  color: gray;
}

div#nava{
  margin-left: 350px;
  margin-top: -60px;
}

img#user{
  width: 100px;
  float: right;
  padding-right: 80px;
  margin-top: -300px;
}

img#img{
  margin-top: -30px;
  margin-left: -900px;
  width: 300px;
}


div#user{
  margin-top: 80px;
  margin-left: 100px;
  width: 50%;
  background-color:white;
}

div#nu{
  margin-left: 100px;
}

div#text{
  margin-top: -300px;
  color: white;
  margin-left: 880px;
}

h1#user{
  font-size: 30px;
  margin-left: 80px;
  color: white;
}

div#bus{
  margin-top: -80px;
  margin-left: 600px;
}

a#nom{
  font-size: 20px;
}

div#pag{
  margin-top: 230px;
  margin-left: 300px;
}

div#botonc{
  margin-left: 320px;
  margin-top: -38px;
}

div#texto{
  margin-top: -10px;
  margin-left: 50px;
  color: white;
  font-size: 13px;
}

div#loggin{
  margin-top: -100px;
  margin-right: 400px;
  margin-left: 50px;
}

div#imlog{
  margin-top: -350px;
  margin-left: 780px;
}

p#con{
  color: white;
  float: right;
  padding-right: 120px;
  margin-top: -40px;
}

div#cont{
  margin-top: 100px;
  margin-left: 1200px;
}

div#navb{
  height: 10px;
}