<form>
	<br><br>
	<p>Nombre </p>
	<input type='text'><br><br>
	<p>Correo</p>
	<input type='email'><br><br>
	<p>Asunto</p>
	<textarea name="comentarios" rows="10" cols="40" placeholder="Escribe aquí su Problema"></textarea>
</form>
