 <link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="assets/ventanas-modales.css">
  <link rel="stylesheet" type="text/css" href="assets/application.css">
<form>
	<br><br>
	<p id='nom'>Nombre </p>
	<input id='nom' type='text'><br><br>
	<p id='nom'>Correo</p>
	<input id='nom' type='email'><br><br> 
	<p id='nom'>Asunto</p>
	<textarea id='nom' name="comentarios" rows="10" cols="40" placeholder="Escribe aquí su Problema"></textarea>
	<input id="sub" type='submit' value='Enviar' class='btn btn-mini btn-primary'>
</form>
