<html>
    <head>
    <meta charset="UTF-8" />
    <title>EP</title>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/ventanas-modales.css">
  </head>
    <body background='images/fondo.png'>
<div id='navb' class="navbar ">
  <div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
 <div id='nava' class="navbar"> 
   <div id='tra' class="tabbable tabs-below">
  <ul class="nav nav-tabs">
   <li id='efe' ><a href="../acerca/index" data-toggle="tab" >Effectual Production</a></li>
  </ul>
</div>
</div>
</div>
</div>
<div id='buto' class="static">
   <div id='nava' class=""> 
  <div class="navbar navbar-inverse">
 <ul class="nav nav-tabs">
  <li><a href="#" data-toggle="tab" ><a href="#">Inicio</a></a></li>
    <li><a href="../notas" data-toggle="tab" ><a href="../notas">Notas</a></a></li>
    <li ><a href="../solicitudes" data-toggle="tab"><a href="../solicitudes">Solicitudes</a></a></li>
    <li ><a href="../registrocompras" data-toggle="tab"><a href="../registrocompras">Registros</a> </a></li>
  </ul>

</div>
</div>
</div>
  </div>
  <form id='bus' class="navbar-search pull-left">
  <input id='bus' type="text" class="search-query" placeholder="Search">
</form>
    </div>
    <div id='loggin'>
     <%= image_tag('logo.png', :width=>'300') %>
     </div>
    <div id="texto">
    <p align="justify">
      Esta Aplicación estará centrada en el Proceso de control de Producción del Centro 
    </p>
     <p align="justify">
      de confección y moda (SENA), y por esta razón constará de cuatro (4) Módulos, con 
    </p>
    <p align="justify">
      diversas funciones para llevar a cabo la sistematización de procesos en la parte del 
    </p>
    <p align="justify">
      control de la producción, como los son los pedidos, el control de pedidos de los clientes, 
    </p>
    <p align="justify">
      el control de productos  terminados, etc. Y también con el fin de agilizar y llevar a cabo  
    </p>
    <p align="justify">
      una eficiencia en el control de ésta, haciendo más fácil y posible la organización de los  
    </p>
    <p align="justify">
      métodos y tiempos utilizados en este ámbito de la producción. Un módulo adicional  
    </p>
    <p align="justify">
      se integrará para garantizar la seguridad del sistema, este es el Modulo de Ingreso y   
    </p>
    <p align="justify">
      Administrador.  
    </p>
    <br>
    <p align="justify">
      Es conveniente afirmar que el alcance de este proyecto que se centra en el control de   
    </p>
    <p align="justify">
      producción, tiene objetivos directos de mejorar los métodos del ingreso de la información  
    </p>
    <p align="justify">
      Aen formatos a diligenciar para obtener y guardar información detallada de los procesos  
    </p>
    <p align="justify">
      que se involucran en las etapas de producción del centro de confección y moda SENA.  
    </p>
    </div>
    <div id='imlog'>
    <%= image_tag('logo.png') %>
    </div>
  <div id='cont'>
    <a href="contactenos" class="clsVentanaIFrame btn btn-primary btn-large"><%=image_tag('contactenos.png', :width => '80px', :title =>'Contactenos') %></a>
  </div>


    <p id='con'>Contactenos</p>
   <footer id='foterr'>
      <p id='he'>HECHO POR ADSI 323921</p>
    </footer>
    <script type="text/javascript" src="assets/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="assets/ventanas-modales.js"></script>
    </body>
    </html>



