    <link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/ventanas-modales.css">
    <body background='assets/fondo.png'>
<div id='navb' class="navbar">
  <div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
 <div id='nava' class="navbar"> 
   <div id='tra' class="tabbable tabs-below">
  <ul class="nav nav-tabs">
   <li id='efe' ><a href="acerca"  >Effectual Production</a></li>
  </ul>
</div>
</div>
</div>
</div>
<div id='but'>
   <div id='nava' class=""> 
  <div class="navbar navbar-inverse">
 <ul class="nav nav-tabs" >
  <li><a href="#tab1" data-toggle="tab" ><a href="inicio">Inicio</a></a></li>
    <li><a href="#tab1" data-toggle="tab" ><a href="notas">Notas</a></a></li>
    <li ><a href="#tab2" data-toggle="tab"><a href="solicitudes">Solicitudes</a></a></li>
    <li ><a href="#tab3" data-toggle="tab"><a href="registrocompras">Registros</a> </a></li>
    <li ><a href="#tab3" data-toggle="tab"><a href="usuarios">Usuarios</a> </a></li>
    <li ><a href="#tab3" data-toggle="tab"><a href="#">Ayuda</a> </a></li>
  </ul>

</div>
</div>
</div>
  </div>
  <form id='bus' class="navbar-search pull-left">
  <input id='bus' type="text" class="search-query" placeholder="Search">
</form>
    </div>
    <div id='ayu'>
      <%= image_tag('logo.png', :width=>'300', :id=>'ayuda') %>
    </div> 
<h1 id="ayuda">Ayuda</h1>
<img id='ayu' src="assets/ayuda.png">
<hr id="uy">
<div id="font" class='well'>
	<div id="ep" class='well'>
		<p id='uso'>Uso del EP</p>
		<br><br>
		 <a href="items" rel="Item: 1" class="clsVentanaIFrame "><p id="items">*Item: 1</p></a><br>
		 <a href="items" rel="Item: 2" class="clsVentanaIFrame "><p id="items">*Item: 2</p></a><br>
		 <a href="items" rel="Item: 3" class="clsVentanaIFrame "><p id="items">*Item: 3</p></a><br>
		 <a href="items" rel="Item: 4" class="clsVentanaIFrame "><p id="items">*Item: 4</p></a>
	</div>
	<div id="epe" class='well'>
		<p id='uso'>Soluciones a Incidentes</p>
		<br><br>
		<a href="items" rel="Item: 4" class="clsVentanaIFrame "><a href="items" rel="Item: 4" class="clsVentanaIFrame "><p id="items">*Item: 1</p></a><br>
		<a href="items" rel="Item: 4" class="clsVentanaIFrame "><p id="items">*Item: 2</p></a><br>
		<a href="items" rel="Item: 4" class="clsVentanaIFrame "><p id="items">*Item: 3</p></a><br>
		<a href="items" rel="Item: 4" class="clsVentanaIFrame "><p id="items">*Item: 4</p></a>
	</div>
</div>
     <script type="text/javascript" src="assets/jquery.js"></script>
    <script type="text/javascript" src="assets/ventanas-modales.js"></script>
    	<footer id='foter'>
      <p id='he'>HECHO POR ADSI 323921</p>
    </footer>
    <div id='ayuu'>
    	<p id='uyuu'> Uso del Ep<br><br>
    		Contara con 4 items los<br><br>
    		cuales nos mostraran<br> <br>
    		como hacer un buen <br><br>
    		uso de la aplicacion <br><br>
    		Effectual Production<br><br>
    		para el Control de <br><br>
    		Produccion.
    	</p>
    </div>
    <div id='ayuuu'>
    	<p id='uyuu'> Soluciones<br><br>
    		Contara con 4 <br><br>
    		items los cuales<br> <br> 
    		nos ayudaran<br> <br>
    		a resolver  <br><br>
    		inquietudes o <br><br>
    		Problemas en la<br><br>
    		Aplicacion.
    	</p>
    </div>